<?xml version="1.0" encoding="utf-8"?>
<configuration>


		<location path="public">
			<system.web>
				<authorization>
					<allow users="?"/>
				</authorization>
			</system.web>
		</location>
		
		
		
		
		<location path="private">
			<system.web>
				<authorization>
					<deny users="?"/>
				</authorization>
			</system.web>
		</location>
		
	
	
</configuration>